*{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;

}

li{
  list-style: none;
}

a {
  text-decoration: none;
}

select{
  width: 250px;
  display: block;
  margin: 50px 0px 50px 0px;
}
/*---index.html---*/
.main-wrapper{
  width: 100%;
  height: 1700px;
  margin-right: 300px;
  /*margin: 0 auto;*/
  border:2px solid black;
  text-align: center;
}

.container{
  /*padding:0px 20px*/
  width:1170px;
  margin:0px auto;
}

.person-wrapper{
  text-align: center;
  height: 480px;
}

.message-wrapper{
  text-align: center;
  padding-bottom: 100px;
}

.toyama-image img{
  width:600px;
  height: 400px;
  padding-top: 50px;
}

header{
  /*color: white;*/
  height:100px;
  background-color: #BCF5A9;
}

.header-left{
  float:left;
  padding: 10px 40px 10px 40px;
  /*background-color: red;*/
}

.header-right{
  color: white;
  float:right;
  /*background-color: red;*/
}

.header-right li{
  float:left;
  /*line-height: 60px;*/
  padding:20px 40px 20px 40px;
  /*background-color: blue;*/
}

.header-right a{
  /*display: inline-block;*/
  color: black;
}

.main{
  text-align: center;
  padding-top: 30px;
  float: left;
  width: 950px;
  height: 1000px;
  /*background-color: red;*/
}

/*#resident_frequency_kanto{
  background-color: red;
}*/

.content{
  /*width: 100%;*/
  margin: 0 auto;
  width: 600px;
  height: 150px;
  float: left;
  text-align: center;
}

.content a{
  color: white;
}

.index_btn{
  margin-left: 120px;
  width: 300px;
  border-radius: 4px;
  display: block;
  padding: 10px 20px 10px 20px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 4px #1a7940;
}
.index_btn:active {
  box-shadow:none;
  position:relative;
  top:4px;
}


/*----グラフ共通部分*/
.gragh{
  /*float: left;*/
  /*text-align: center;*/
  margin-left: 30px;
  margin-bottom: 50px;
}

/*.jqplot-table-legend {
  width: 150px;
}*/

/*----ボタン共通部分----*/
.btn-wrapper{
  margin-left: 40px;
  float:left;
  text-align: center;
  /*display: inline-block;*/
  /*background-color: blue;*/
}

.btn{
  color: white;
  margin: 80px;
}

.square_btn{
  border-radius: 4px;
  display: block;
  padding: 10px 20px 10px 20px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 4px #1a7940;
}

.square_btn:active {/*ボタンを押したとき*/
  box-shadow:none;
  position:relative;
  top:4px;
}
/*----ボタン END----*/


/*---move_order.html*/
table{
  font-size: 14px;
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
}

table th, table td{
  border:1px solid #CCCCCC;
  padding:5px 10px;
}

th{
  width: 140px;
}

.move-wrapper{
  padding-left: 30px;
  /*height: 1200px;*/
}
