/*@media (min-width: 1170px) {
  .main-wrapper{

  }

  .clear{
    clear: both;
    float: left;
  }
}
@media (min-width: 1170px) {
  .main-wrapper{

  }

  .clear{
    clear: both;
    float: left;
  }
}*/
